<h1><%=@store.name%></h1>
<a href="/store/<%=@store.id%>/edit">Edit Store</a>
<br>

<form action="/store/<%=@store.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete</button>
</form>

<ul>
  <% @store.brands.each do |brand|%>
  <form action="/store/<%=@store.id%>/brand/delete" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="brand_id" value="<%=brand.id%>">
    <li><%= brand.name %>  <button type="submit">Delete</button></li>
  </form>
  <%end%>
</ul>
